.team-container {
    display: flex;
}
.playerDetail-container {
    width: 80%;
    margin-left: 20px;
    margin-right: 10px; 
    border-right: 5px double navy;
}

.card-container{
    float: right;
    
    
} 